<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Leave your message</h1>
    <p class="lead">Form for contact us</p>
    <hr class="my-2">
    
  </div>
</div>
<div class="container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="success">Your form is valid!</h5>

    <div class="form-group row">
      <label for="inputName" class="col-sm-3 col-form-label">Firsrt Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="firstname" id="firstname" formControlName="firstname" [ngClass]="{'is-invalid':submitted && f.firstname.errors}">
        <div *ngIf="submitted && f.firstname.errors?.required">Firstname is required!</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputName" class="col-sm-3 col-form-label">Last Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="lastname" id="lastname" formControlName="lastname" [ngClass]="{'is-invalid':submitted && f.lastname.errors}">
        <div *ngIf="submitted && f.lastname.errors?.required">Lastname is required!</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputName" class="col-sm-3 col-form-label">E-mail</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="email" id="email" formControlName="email" [ngClass]="{'is-invalid':submitted && f.email.errors}">
        <div *ngIf="submitted && f.email.errors?.required">Email is required!</div>
        <div *ngIf="submitted && f.email.errors?.email">Email is not a format address!</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputName" class="col-sm-3 col-form-label">Tel.</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="tel" id="tel" formControlName="tel" [ngClass]="{'is-invalid':submitted && f.tel.errors}">
        <div *ngIf="submitted && f.tel.errors?.required">Telephon number is required!</div>
      </div>
    </div>
    <div class="form-group row">
        <label for="inputName" class="col-sm-3 col-form-label"></label>
      <div class="col-sm-9">
        <button type="submit" class="btn btn-primary">Sunmit</button>
      </div>
    </div>
  </form>
</div>